html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  background-color: azure;
}
.sitecontainer {
  width: 960px;
  margin: 0 auto;
}

/*HEADER*/
header {
  background-image: url("../img/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  width: 100%;
  color: white;
}
header .sitecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.banner {
  background-color: cadetblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.banner .brand {
  display: flex;
  align-items: center;
}
#logo {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}
#company {
  font-size: 1rem;
}
.banner nav {
  display: flex;
}
.banner span {
  margin: 1rem 2rem;
}
header .title {
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
  top: 10rem;
  left: 2rem;
}

/*MAIN*/
.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 8rem;
  margin: 3rem;
}
.images div {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   margin: 0 6rem;
}
.paper img {
  width: 3.5rem;
}
.ruler img, .truck img {
  width: 5rem;
}
.info {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.philos, .appts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  margin-right: 5%;
}
main .title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  width: 10rem;
  padding: .5rem 1.25rem;
  margin: 0 0 1rem 0;
}
/*FOOTER*/
footer {
  padding: 4rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
}
footer p {
  margin: 1rem;
}

.banner .tabletview {
  display: none;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 800px) {
  .sitecontainer {
    width: 100%;
  }
  .banner {
    margin-top: 0;
  }
  header .title {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    left: -2rem;
    top: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .fullscreen nav, #company {
    display: none;
  }
  .sitecontainer {
    width: 100%;
  }
  .banner {
    margin-top: 0;
  }
  .tabletview nav {
    display: block;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  header .title {
    top: 9rem;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  .images {
    margin: 2.23rem;
    font-size: 0.77rem;
  }
  .images div {
    margin: 1.54rem;
  }
}
